<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/text.css" />
    <link rel="stylesheet" href="stylesheets/960.css" />
    <link rel="stylesheet" href="stylesheets/syntax.css" />
    <link rel="stylesheet" href="stylesheets/leaf.css" />
  </head>
  <body>
    {{ content }}
    <a href="http://github.com/c7/leaf">
      <img id="ribbon" src="images/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
    </a>
  </body>
</html>
